<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos Acadêmicos</title>
     <link rel="stylesheet" href="style.css">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

   
   
    
    <nav>
        <ul>
            <li><a href="inicial.html">Home</a></li>
            <li><a href="Instalações.html"> Instalações do Campus</a></li>
            <li><a href="Clubes.html">Clubes e Organizações Estudantis</a></li>
            <li><a href="Suporte.html">Suporte</a></li>
            <li><a href="Transporte.html">Transporte e Acesso</a></li>
        </ul>
    </nav>
    
   

    <div class="container">
        <h1>Eventos Acadêmicos</h1>
        <div class="evento">
            <img src="workshop.jpg" alt="">
            <h2>Workshop de Inteligência Artificial</h2>
            <p><strong>Data:</strong> 25 de Maio de 2024</p>
            <p><strong>Local:</strong> Auditório Principal</p>
            <p><strong>Palestrante:</strong> Dr. João Silva</p>
            <p><a href="formulario.html">Inscreva-se</a></p>
        </div>
        <div class="evento">
            <img src="seminario.jpeg" alt="" srcset="">
            <h2>Seminário de Ciência de Dados</h2>
            <p><strong>Data:</strong> 10 de Junho de 2024</p>
            <p><strong>Local:</strong> Sala 201</p>
            <p><strong>Palestrante:</strong> Dra. Maria Santos</p>
            <p><a href="formulario.html">Inscreva-se</a></p>
        </div>
        <div class="evento">
            <img src="apresentacao-falar-em-publico-1469473097944_615x300.jpg" alt="" srcset="">
            <h2>Palestras sobre Engenharia de Software</h2>
            <p><strong>Data:</strong> 10 de Junho de 2024</p>
            <p><strong>Local:</strong> Sala 201</p>
            <p><strong>Palestrante:</strong> Dra. Maria Santos</p>
            <p><a href="formulario.html">Inscreva-se</a></p>
    </div>
</body>
</html>
