<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instalações do Campus</title>
    <link rel="stylesheet" href="style.css">
    
    

    <nav>
        <ul>
            <li><a href="inicial.html">Home</a></li>
            <li><a href="Instalações.html"> Instalações do Campus</a></li>
            <li><a href="Clubes.html">Clubes e Organizações Estudantis</a></li>
            <li><a href="Suporte.html">Suporte</a></li>
            <li><a href="Transporte.html">Transporte e Acesso</a></li>
        </ul>
    </nav>
    
    
    

    <div class="container">
        <h1>Instalações do Campus</h1>
        
        <div class="evento">
            <img src="livros.webp" alt="10" srcset="">
            <h2>Biblioteca</h2>
            <p><strong>Data:</strong> De segunda a Sábados </p>
            <p><strong> horários:</strong> De 2.ª a 6.ª feiradas 8h às 22:30h </p>
            <p><strong> horários:</strong> Aos Sábados das 8h às 12h </p>
            <p><strong> Contato</strong(24) 2471-8200></p>
        </div>

         
        <div class="evento">
            <img src="foto-do-laboratorio-.jpg" alt="10" srcset="">
            <h2>Laboratorio</h2>
            <p><strong>Data:</strong> De segunda a Sábados </p>
            <p><strong> horários:</strong> De 2.ª a 6.ª feiradas 8h às 22:30h </p>
            <p><strong> horários:</strong> Aos Sábados das 8h às 12h </p>
            <p><strong> Contato</strong(24)> 2471-8200 </p>
          
        </div>



        <div class="evento">
            <img src="cervejaria.jpg" alt="" srcset="">
            <h2>Cervejaria Escola</h2>
            <p><strong>Data:</strong> De segunda a Sábados </p>
            <p><strong> horários:</strong> De 2.ª a 6.ª feiradas 8h às 22:30h </p>
            <p><strong> horários:</strong> Aos Sábados das 8h às 12h </p>
            <p><strong> Contato</strong(24) 2471-8200></p>
           
    </div>
</body>
</html>
